<div class="row">
  <div class="col-12 header-container px-0">
    <mat-toolbar class="navBar">
      <div class="row nav-row mx-0">
        <div class="div col-4 heading text-left">
          <h1>GPA Calculator</h1>
        </div>
        <div class="div col-4 offset-4 navigational-links">
          <span>About Us</span>
          <span>FAQ</span>
          <span>sign In</span>
          <span>sign Up</span>
        </div>
      </div>
    </mat-toolbar>
    <h1>Welcome To GPA Calculator</h1>
  </div>
  <div class="col-12 image-container">
    <app-welcome-image></app-welcome-image>
  </div>
</div>
