
.header-container{
  text-align: center;
  color: #063b9b;
  h1{
    font-weight:bold;
    font-size:2em;
  }

}
.image-container{
  margin: 0;
  padding: 0;
  width: 100%;
}
.credits{
  text-align: right;
  font-weight: bold;
}
