<div class="row">
    <div class="col-12 header-container px-0">
      <nav class="navbar navbar-dark bg-opacity-50">
        <div class="col-10 pt-2 px-0">
          <h1>GPA Calculator</h1>
        </div>
        <div class="navbar-links col-2 pt-2">
          <div class=" link-container row">
            <div class="link-container-signIn col-6">
              <a class="nav-link active" aria-current="page" href="#">Sign in</a>
            </div>
            <div class="link-container-signUp col-6">
              <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-12 image-container">
      <app-welcome-image></app-welcome-image>
    </div>
    <div class="col-12">
      <p class="credits"> photo by unsplash</p>
    </div>
</div>

