
.header-container{
  text-align: center;
  color: purple;
  border: 2px solid blue;
}
.image-container{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 2px solid red;
}
.credits{
  text-align: right;
  font-weight: bold;
  border: 2px solid purple;
}
