<div class="row mt-5">
  <div class="col-12  d-flex justify-content-center add-course-container">
    <button mat-raised-button [ngStyle]="{color: 'white',backgroundColor:setCurrentStyles()} "
            (click)="onAddCourseClicked()">
      {{isFormVisible ? "Hide Course Detail" : "Add Course Detail"}}
    </button>
  </div>
  <div *ngIf="isFormVisible" class="col mt-5 gpa-form-container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="row ">
          <div class="col-12 d-flex justify-content-center">
            <mat-form-field class="gpa-form" apparence="legacy">
              <mat-label class="lbl-gpa-form">Subject Name</mat-label>
              <input style="color: black;" matInput [(ngModel)]="newRow.course" type="text" name="course" id="course"
                     class="form-control" required>
            </mat-form-field>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <mat-form-field class="gpa-form" apparence="legacy">
              <mat-label class="lbl-gpa-form">Grade</mat-label>
              <input style="color: black;" matInput [(ngModel)]="newRow.grade" type="text" name="grade" id="grade"
                     class="form-control" required>
            </mat-form-field>
            <br>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <mat-form-field class="gpa-form" apparence="legacy">
              <mat-label class="lbl-gpa-form">Credits</mat-label>
              <input style="color: black;" matInput [(ngModel)]="newRow.credits" type="text" name="credits" id="credits"
                     class="form-control" required>
            </mat-form-field>
            <br>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3 px-5 float-right btn-container">
          <button class="btn-submit" (click)="addSubjectDetail()" style="float:right" mat-raised-button color="primary">
            submit
          </button>
        </div>
        <div class="col-3 mx-0 px-5">
          <button mat-raised-button color="accent" (click)="isCalculateFinalGPAClicked()">Calculate</button>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
    <div *ngIf="isGPAVisible" class="row mt-4">
      <div class="col-12 text-center">
        <h2> Your GPA is {{finalGPA}} </h2>
      </div>
    </div>
  </div>
</div>
